doctype 5
html
	head
		meta(charset='utf-8')
		title= "multifortress"

		link(rel='stylesheet', href='/css/unicodetiles.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src='/socket.io/socket.io.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

		script(src='/js/unicodetiles/unicodetiles.js')
		script(src='/js/unicodetiles/input.js')
		script(src='/js/unicodetiles/ut.WebGLRenderer.js')
		script(src='/js/unicodetiles/ut.CanvasRenderer.js')
		script(src='/js/unicodetiles/ut.DOMRenderer.js')

		script(src='/js/class.js')
		script(src='/js/tiles.js')
		script(src='/js/entity.js')
		script(src='/js/fov.js')
		script(src='/js/game.js')

	body
		#game Enable JavaScript and reload the page.
		script(src='/js/main.js')

		ul
			li Move around with the arrow keys.
			li Press T to talk.
			li Use W|A|S|D to shoot a fireball in a direction.
