doctype 5
html
	head
		meta(charset='utf-8')
		title= "test"

		link(rel='stylesheet', href='/css/unicodetiles.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src='/socket.io/socket.io.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

		script(src='/js/classy.js')

		script(src='/js/unicodetiles/unicodetiles.js')
		script(src='/js/unicodetiles/input.js')
		script(src='/js/unicodetiles/ut.WebGLRenderer.js')
		script(src='/js/unicodetiles/ut.CanvasRenderer.js')
		script(src='/js/unicodetiles/ut.DOMRenderer.js')

		script(src='/js/main.js')

	body
		#status(style='display:block') Enable JavaScript and reload the page.
		#game(style='display:none')
